{block content}
    <div class="d-flex justify-content-between">
        <div>
            <h1 class="h3 mb-2 text-gray-800">Parking lots</h1>
            <p class="mb-4">Info about parkings lots, which are provided by golemio API</p>
        </div>
    </div>
    {control parkingLotDatagrid}
{/block}