<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    {include '@favicon.latte'}

    <title>Public transport app</title>
    {webpackCss 'admin'}
</head>

<body>
<nav class="navbar navbar-dark bg-primary">
    <a class="navbar-brand" n:href="Homepage:default"><i class="fas fa-bus rotate-n-15 pr-2"></i> Public transport</a>
</nav>
<div class="container-fluid">
{include content}
</div>

{webpackJs 'admin'}
{*<script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyC1VEzDUaihIl4gDbWiWA20H4eChvTcbMM&callback=initMap"
        async defer></script>*}
</body>
</html>