<!DOCTYPE html>
<html>

<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">

	{include '@favicon.latte'}

	<title>Public transport app</title>
	{webpackCss 'admin'}
</head>

<body>
	{include content}

	{webpackJs 'admin'}
</body>
</html>