<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    {include '@favicon.latte'}

    <link href="https://fonts.googleapis.com/css?family=Nunito:200,200i,300,300i,400,400i,600,600i,700,700i,800,800i,900,900i" rel="stylesheet">

    <title>Public transport app</title>
    {webpackCss 'admin'}
</head>

<body>
<nav class="navbar sticky-top navbar-dark bg-primary navbar-expand-md">
    <a class="navbar-brand" n:href="Homepage:default"><i class="fas fa-bus rotate-n-15 pr-2"></i> Public transport</a>

    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#app--navbar" aria-controls="app--navbar" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse justify-content-end" id="app--navbar">
        <div class="navbar-nav">
            <a n:class="nav-item, nav-link, $presenter->isLinkCurrent('Homepage:*') ? active" n:href="Homepage:default">Hlavní stránka</a>
            <a n:class="nav-item, nav-link, $presenter->isLinkCurrent('Map:*') ? active" n:href="Map:default">Mapa</a>
            <a n:class="nav-item, nav-link, $presenter->isLinkCurrent('Statistic:*') ? active" n:href="Statistic:default">Statistiky</a>
        </div>
    </div>
</nav>

{ifset content}
    <div class="container-fluid px-2 overflow-hidden">
        {include content}
    </div>
{/ifset}

{ifset noContainerContent}
    {include noContainerContent}
{/ifset}

{webpackJs 'admin'}
</body>
</html>