vendor/*
config/config.local.neon
.idea/


www/build/admin/*
www/build/front/*
yarn-error.log

!www/build/admin/.gitkeep
!www/build/front/.gitkeep

node_modules/*

assets/admin/node_modules/*
assets/front/node_modules/*

tests/Integration/config/tests.local.neon
tests/log/*

#phpstorm tailwindcss support
tailwind.config.js
package.json
postcss.config.js
yarn.lock