includes:
	- vendor/phpstan/phpstan-strict-rules/rules.neon
	- vendor/phpstan/phpstan-nette/extension.neon
	- vendor/phpstan/phpstan-nette/rules.neon
	- vendor/phpstan/phpstan-doctrine/extension.neon

parameters:
	excludes_analyse:
		- src/Doctrine/BaseRepository.php

	ignoreErrors:
		-
			message: '#Parameter \#1 \$credentials \(array\<string\>\) of method App\\Admin\\AppAdminAuthenticator\:\:authenticate\(\) [a-zA-Z0-9\\_]+#'
			path: src/Admin/AppAdminAuthenticator.php