{templateType App\UI\Admin\Dashboard\templates\DashboardDefaultTemplate}
{block content}
    <div class="row">
        <div class="col-md-12">
            {control statisticControl}
        </div>
    </div>
{/block}