{templateType App\UI\Admin\Dashboard\templates\DashboardDefaultTemplate}
{block content}
    <div class="row">
        <div class="col-md-12">
            {control statisticControl}
        </div>
    </div>

    <a n:href="testik!" class="btn btn-primary ajax">AHOJ</a>
{/block}