{templateType App\UI\Front\Prague\PragueParkingLot\Control\ParkingLotCardControlTemplate}

<div class="py-5 border-b border-gray-200 mb-3">
    <h3 class="text-lg leading-6 font-medium text-gray-900">
        Poslední aktualizace dat {$lastUpdateTime}
    </h3>
    <p class="mt-1 text-sm text-gray-500">
    </p>
</div>

{control parkingLotTable}