{block content}
    <div class="row px-1 py-3">
        <div class="col-lg-6 col-md-12 col-sm-12 d-flex">
            <div class="card shadow mb-12 w-100">
                <div class="card-header py-3">
                    <div class="row">
                        <div class="col-md-12 text-center">
                            <h6 class="m-0 font-weight-bold text-lg pt-1">Vybrané odjezdové tabule</h6>
                        </div>
                    </div>
                </div>
                <div class="card-body p-0">
                    {control pragueDepartureTableListControl}
                </div>
                <div class="card-footer text-center">
                    <a href="{plink PragueDepartureTableList:default}" class="btn btn-primary">Všechny odjezdové
                        tabule</a>
                </div>
            </div>
        </div>
        <div class="col-lg-6 col-md-12 col-sm-12 d-flex">
            {control statisticControl}
        </div>
    </div>

    <div class="row px-1 py-3">
        <div class="col-md-12">
            <div class="card shadow mb-12">
                <div class="card-header py-3">
                    <div class="row">
                        <div class="col-md-12 text-center">
                            <h6 class="m-0 font-weight-bold text-lg pt-1">Mapa vozidel</h6>
                        </div>
                    </div>
                </div>
                <div class="card-body p-0">
                    {control mapControl}
                </div>
            </div>
        </div>
    </div>
{/block}