parameters:
	pid:
		accessToken: ""
	map:
		apiToken: ""

application:
	errorPresenter: Error:Error
	mapping:
		*: ['App', '*', '*\UI\*Presenter']
		Front: ['App\UI\Front', '*', '*\*Presenter']
		Error: App\UI\Error\*Presenter
		Admin: ['App\UI\Admin', '*', '*\*Presenter']

tracy:
	maxDepth: 6
	showLocation: true
	dumpTheme: dark
	editor: 'phpstorm://open?file=%file&line=%line'


session:
	expiration: 14 days

decorator:
	App\Request\RabbitMQ\BaseProducer:
		inject: true

extensions:
	console: Contributte\Console\DI\ConsoleExtension(%consoleMode%)
	dbal: Nettrine\DBAL\DI\DbalExtension
	dbal.console: Nettrine\DBAL\DI\DbalConsoleExtension
	orm: Nettrine\ORM\DI\OrmExtension
	nettrine.annotations: Nettrine\Annotations\DI\AnnotationsExtension
	orm.annotations: Nettrine\ORM\DI\OrmAnnotationsExtension
	orm.console: Nettrine\ORM\DI\OrmConsoleExtension
	migrations: Nettrine\Migrations\DI\MigrationsExtension
	orm.cache: Nettrine\Cache\DI\CacheExtension
	monolog: Contributte\Monolog\DI\MonologExtension
	rabbitmq: Contributte\RabbitMQ\DI\RabbitMQExtension

	webpackassets: App\UI\Webpack\DI\WebpackAssetExtension
	custompresenterfactory: App\UI\PresenterFactory\DI\CustomPresenterFactoryExtension

webpackassets:
	assetsDirs:
		- %wwwDir%/build/admin
		- %wwwDir%/build/front

custompresenterfactory:
	presenterDir: %appDir%
	customMapping:
		Admin:PragueDepartureTable: App\UI\Admin\Prague\PragueDepartureTable\PragueDepartureTablePresenter
		Admin:PragueStatistic: App\UI\Admin\Prague\PragueStatistic\PragueStatisticPresenter
		Admin:PragueStop: App\UI\Admin\Prague\PragueStop\PragueStopPresenter
		Admin:PragueStopMap: App\UI\Admin\Prague\PragueStopMap\PragueStopMapPresenter
		Admin:PragueVehiclePosition: App\UI\Admin\Prague\PragueVehiclePosition\PragueVehiclePositionPresenter
		Admin:PragueDepartureTableEditForm: App\UI\Admin\Prague\PragueDepartureTable\PragueDepartureTableEditFormPresenter
		Admin:PragueParkingLot: App\UI\Admin\Prague\PragueParkingLot\PragueParkingLotPresenter
		Admin:PragueParkingLotOccupancy: App\UI\Admin\Prague\PragueParkingLot\PragueParkingLotOccupancyPresenter
		Admin:PragueTransportRestriction: App\UI\Admin\Prague\PragueTransportRestriction\PragueTransportRestrictionPresenter

		Front:PragueDepartureTable: App\UI\Front\Prague\PragueDepartureTable\PragueDepartureTablePresenter
		Front:PragueParkingLot: App\UI\Front\Prague\PragueParkingLot\PragueParkingLotPresenter
		Front:PragueDepartureTableList: App\UI\Front\Prague\PragueDepartureTable\PragueDepartureTableListPresenter
		Front:PragueTransportRestriction: App\UI\Front\Prague\PragueTransportRestriction\PragueTransportRestrictionPresenter

dbal:
	debug:
		panel: %debugMode%
	connection:
		host: %database.host%
		port: %database.port%
		user: %database.user%
		password: %database.password%
		dbname: %database.dbname%
		driver: 'pdo_mysql'

		types:
			uuid:
				class: Ramsey\Uuid\Doctrine\UuidType
				commented: false
			datetime_immutable:
				class: Mistrfilda\Datetime\Doctrine\DatetimeImmutableType
				commented: false
			date_immutable:
				class: Mistrfilda\Datetime\Doctrine\DateImmutableType
				commented: false

orm:
	configuration:
		customStringFunctions:
			group_concat: DoctrineExtensions\Query\Mysql\GroupConcat

orm.annotations:
	mapping:
		App: %appDir%

migrations:
    table: doctrine_migrations
    column: version
    directory: %appDir%/../migrations
    namespace: Migrations

console:
    url: http://localhost/public-transport-app/www
    catchExceptions: false
    lazy: false

monolog:
	channel:
		default:
			handlers:
				- Monolog\Handler\RotatingFileHandler(%appDir%/../log/app-log.log, 30)
				- Monolog\Handler\StreamHandler("php://stdout")
				-
					factory: Monolog\Handler\RotatingFileHandler(%appDir%/../log/json/json-log.log, 30)
					setup:
						- setFormatter( Monolog\Formatter\JsonFormatter() )
			processors:
				- Monolog\Processor\MemoryPeakUsageProcessor()
				- Monolog\Processor\WebProcessor()
				- Monolog\Processor\IntrospectionProcessor()


services:
	router: App\Router\RouterFactory::createRouter

	latte.latteFactory:
		setup:
			- setStrictTypes(true)
			- addFilter(datetimeFormat, [@datetimeFormatFilter, format])
			- addFilter(secondsFormat, [@secondsFormatFilter, format])
			- addFilter(pragueStopId, [@praguestopidfilter, format])
			- addFilter(vehicleType, [@vehicletypefilter, format])
			- addFilter(nullablestring, [@nullableStringFilter, format])

	#CUSTOM LATTE FILTERS
	datetimeFormatFilter: App\UI\Filter\DatetimeFormatFilter
	secondsFormatFilter: App\UI\Filter\SecondsFormatFilter
	nullableStringFilter: App\UI\Filter\NullableStringFilter

	#UTILS
	- App\Utils\Command\WarmUpCacheCommand
	datetimefactory: Mistrfilda\Datetime\DatetimeFactory
	czechHolidayService: Mistrfilda\Datetime\Holiday\CzechHolidayService

	pidservice: Mistrfilda\Pid\Api\GolemioService(%pid.accessToken%)
	pidrssservice: Mistrfilda\Pid\Api\RssService

	#Forms
	- App\UI\Admin\Base\AdminFormFactory

	#Grids
	- App\UI\Admin\Base\AdminDatagridFactory

	#Modal
	- App\UI\Shared\Modal\ModalRendererControlFactory

	#AppAdmin
	- App\Admin\AppAdminRepository(App\Admin\AppAdmin)
	- App\Admin\AppAdminAuthenticator
	- App\Admin\AppAdminFacade
	- App\Admin\CurrentAppAdminGetter
	- App\Admin\Command\CreateAppAdminCommand

	#Front
	- App\UI\Front\Base\FrontDatagridFactory

	#Login
	- App\UI\Admin\Login\Form\LoginFormFactory

	#### PRAGUE ####

	#STOP
	- App\Transport\Prague\Stop\Import\StopImportCommand
	- App\Transport\Prague\Stop\Import\StopImportFacade
	- App\Transport\Prague\Stop\StopRepository(App\Transport\Prague\Stop\Stop)
	- App\Transport\Prague\Stop\StopFactory
	- App\Transport\Prague\Stop\StopCacheService
	- App\Transport\Prague\Stop\StopMapObjectProvider

	- App\UI\Admin\Prague\PragueStop\Datagrid\StopDatagridFactory
	praguestopidfilter: App\Transport\Prague\Stop\Filter\StopIdFilter

	#TRIP
	- App\Transport\Prague\StopLine\Trip\Import\TripImportCommand
	- App\Transport\Prague\StopLine\Trip\Import\TripImportFacade
	- App\Transport\Prague\StopLine\Trip\TripRepository(App\Transport\Prague\StopLine\Trip\Trip)
	- App\Transport\Prague\StopLine\Trip\TripFactory
	- App\Transport\Prague\Statistic\ChartDataProvider\TripStatisticDelayChartDataProvider
	- App\Transport\Prague\Statistic\ChartDataProvider\TripStatisticDataCountChartDataProvider
	- App\Transport\Prague\Statistic\ChartDataProvider\TripStatisticVehicleRegistrationChartDataProvider

	#STOP TIME
	- App\Transport\Prague\StopLine\StopTime\Import\StopTimeImportCommand
	- App\Transport\Prague\StopLine\StopTime\Import\StopTimeImportFacade
	- App\Transport\Prague\StopLine\StopTime\StopTimeFactory
	- App\Transport\Prague\StopLine\StopTime\StopTimeRepository(App\Transport\Prague\StopLine\StopTime\StopTime)
	- App\Transport\Prague\StopLine\StopTime\StopTimeTimeFactory
	- App\Transport\Prague\StopLine\StopLineFactory

	#VEHICLE
	- App\Transport\Prague\Vehicle\Import\VehicleImportCommand
	- App\Transport\Prague\Vehicle\Import\VehicleImportFacade
	- App\Transport\Prague\Vehicle\VehicleFactory
	- App\Transport\Prague\Vehicle\VehiclePositionRepository(App\Transport\Prague\Vehicle\VehiclePosition)
	- App\Transport\Prague\Vehicle\VehicleRepository(App\Transport\Prague\Vehicle\Vehicle)
	- App\Transport\Prague\Vehicle\VehicleMapObjectProvider

	- App\UI\Admin\Prague\PragueVehiclePosition\Datagrid\VehicleDatagridFactory
	- App\UI\Admin\Prague\PragueVehiclePosition\Datagrid\VehiclePositionDatagridFactory

	vehicletypefilter: App\Transport\Prague\Vehicle\Filter\VehicleTypeFilter

	#DEPARTURE TABLE
	- App\Transport\Prague\DepartureTable\DepartureTableFacade
	- App\Transport\Prague\DepartureTable\DepartureTableRepository(App\Transport\Prague\DepartureTable\DepartureTable)
	- App\Transport\Prague\DepartureTable\DepartureTableStopLinesFactory
	- App\Transport\Prague\DepartureTable\Command\ImportDepartureTableStopLinesCommand
	- App\Transport\Prague\DepartureTable\DepartureTableStopLineFacade

	- App\UI\Admin\Prague\PragueDepartureTable\Datagrid\DepartureTableDatagridFactory
	- App\UI\Admin\Prague\PragueDepartureTable\Form\DepartureTableFormFactory
	- App\UI\Admin\Prague\PragueDepartureTable\Control\DepartureTableControlFactory

	- App\UI\Shared\PragueDepartureTable\Control\PragueDepartureTableListControlFactory
	- App\UI\Shared\PragueDepartureTable\Control\PragueDepartureTableListDataFactory


	#REQUEST
	- App\Request\RequestRepository(App\Request\Request)
	- App\Request\Command\GenerateRequestsCommand
	- App\UI\Admin\Request\Datagrid\RequestDatagridFactory

	#RABITMQ
	- App\Request\RabbitMQ\MessageFactory

	#Statistic
	- App\UI\Shared\Statistic\Control\StatisticControlFactory
	- App\Transport\Prague\Statistic\TripStatisticFacade
	- App\Transport\Prague\Statistic\Command\GenerateTripStatisticCommand
	- App\Transport\Prague\Statistic\TripStatisticDataRepository(App\Transport\Prague\Statistic\TripStatisticData)
	- App\UI\Admin\Prague\PragueStatistic\Datagrid\StatisticDatagridFactory
	- App\UI\Shared\Statistic\Modal\TripStatisticModalRendererControlFactory
	- App\UI\Front\Statistic\Control\Trip\TripStatisticControlFactory
	- App\UI\Front\Statistic\Datagrid\Trip\TripStatisticDataDatagridFactory
	- App\UI\Front\Statistic\Control\Main\MainStatisticControlFactory
	- App\UI\Front\Statistic\Datagrid\Trip\RouteStatisticDatagridFactory

	- App\UI\Shared\Statistic\Chart\Control\ChartControlFactory

	- App\Transport\Prague\Statistic\TripList\TripListRepository(App\Transport\Prague\Statistic\TripList\TripList)
	- App\Transport\Prague\Statistic\TripList\TripListFacade
	- App\Transport\Prague\Statistic\Command\GenerateTripListCommand
	- App\Transport\Prague\Statistic\TripList\TripListCacheService
	- App\Transport\Prague\Statistic\Command\UpdateTripStatisticDataDatetimeCommand

	#Parking lot
	- App\Transport\Prague\Parking\ParkingLotRepository(App\Transport\Prague\Parking\ParkingLot)
	- App\Transport\Prague\Parking\ParkingLotOccupancyRepository(App\Transport\Prague\Parking\ParkingLotOccupancy)
	- App\Transport\Prague\Parking\ParkingLotFactory
	- App\Transport\Prague\Parking\ParkingLotOccupancyFactory
	- App\Transport\Prague\Parking\Import\ParkingLotImportCommand
	- App\Transport\Prague\Parking\Import\ParkingLotImportFacade
	- App\UI\Admin\Prague\PragueParkingLot\Datagrid\ParkingLotDatagridFactory
	- App\UI\Admin\Prague\PragueParkingLot\Datagrid\ParkingLotOccupancyDatagridFactory
	- App\Transport\Prague\Parking\ParkingLotMapObjectProvider
	- App\UI\Front\Prague\PragueParkingLot\Control\ParkingLotCardControlFactory

	#Transport restriction
	- App\Transport\Prague\TransportRestriction\TransportRestrictionRepository(App\Transport\Prague\TransportRestriction\TransportRestriction)
	- App\Transport\Prague\TransportRestriction\Import\TransportRestrictionImportCommand
	- App\Transport\Prague\TransportRestriction\Import\TransportRestrictionImportFacade
	- App\Transport\Prague\TransportRestriction\TransportRestrictionFactory
	- App\UI\Admin\Prague\PragueTransportRestriction\Datagrid\PragueTransportRestrictionDatagridFactory
	- App\UI\Front\Prague\PragueTransportRestriction\Control\PragueTransportRestrictionControlFactory

	#Map
	map:
		implement: App\UI\Shared\Map\MapControlFactory
		arguments: [%map.apiToken%]