rabbitmq:
	connections:
		default:
			user: ""
			password: ""
			host: ""
			port: ""
			hearbeat: 1500.0

	queues:
		pragueDepartureTableQueue:
			connection: default
		pragueVehiclePositionQueue:
			connection: default
		pragueTransportRestrictionQueue:
			connection: default
		pragueParkingLotQueue:
			connection: default

	producers:
		pragueDepartureTableProducer:
			queue: pragueDepartureTableQueue
			contentType: application/json
			deliveryMode: 2
		pragueVehiclePositionProducer:
			queue: pragueVehiclePositionQueue
			contentType: application/json
			deliveryMode: 2
		pragueParkingLotProducer:
			queue: pragueParkingLotQueue
			contentType: application/json
			deliveryMode: 2
		pragueTransportRestrictionProducer:
			queue: pragueTransportRestrictionQueue
			contentType: application/json
			deliveryMode: 2

	consumers:
		pragueDepartureTableConsumer:
			queue: pragueDepartureTableQueue
			callback: [@pragueDepartureTableConsumer, consume]
			qos:
				prefetchSize: 0
				prefetchCount: 5
		pragueVehiclePositionConsumer:
			queue: pragueVehiclePositionQueue
			callback: [@pragueVehiclePositionConsumer, consume]
			qos:
				prefetchSize: 0
				prefetchCount: 5
		pragueTransportRestrictionConsumer:
			queue: pragueTransportRestrictionQueue
			callback: [@pragueTransportRestrictionConsumer, consume]
			qos:
				prefetchSize: 0
				prefetchCount: 5
		pragueParkingLotConsumer:
			queue: pragueParkingLotQueue
			callback: [@pragueParkingLotConsumer, consume]
			qos:
				prefetchSize: 0
				prefetchCount: 5

services:
	pragueDepartureTableConsumer: App\Transport\Prague\Request\RabbitMQ\DepartureTable\DepartureTableConsumer
	pragueDepartureTableProducer: App\Transport\Prague\Request\RabbitMQ\DepartureTable\DepartureTableProducer(@Contributte\RabbitMQ\Client::getProducer(pragueDepartureTableProducer))

	pragueVehiclePositionConsumer: App\Transport\Prague\Request\RabbitMQ\VehiclePosition\VehiclePositionConsumer
	pragueVehiclePositionProducer: App\Transport\Prague\Request\RabbitMQ\VehiclePosition\VehiclePositionProducer(@Contributte\RabbitMQ\Client::getProducer(pragueVehiclePositionProducer))

	pragueTransportRestrictionConsumer: App\Transport\Prague\Request\RabbitMQ\TransportRestriction\TransportRestrictionConsumer
	pragueTransportRestrictionProducer: App\Transport\Prague\Request\RabbitMQ\TransportRestriction\TransportRestrictionProducer(@Contributte\RabbitMQ\Client::getProducer(pragueTransportRestrictionProducer))

	pragueParkingLotConsumer: App\Transport\Prague\Request\RabbitMQ\ParkingLot\ParkingLotConsumer
	pragueParkingLotProducer: App\Transport\Prague\Request\RabbitMQ\ParkingLot\ParkingLotProducer(@Contributte\RabbitMQ\Client::getProducer(pragueParkingLotProducer))

	- App\Transport\Prague\Request\RequestFacade
	- App\Transport\Prague\Request\RabbitMQ\Command\GenerateHalfHourRequestsCommand