parameters:
	pid:
		accessToken: ""
	map:
		apiToken: ""

application:
	errorPresenter: Error
	mapping:
		*: ['App', '*', '*\UI\*Presenter']
		Front: ['App\UI\Front', '*', '*\*Presenter']
		Error: ['App\UI\Error', '*', '*\*Presenter']
		Admin: ['App\UI\Admin', '*', '*\*Presenter']

tracy:
	maxDepth: 6
	showLocation: true


session:
	expiration: 14 days

decorator:
	App\Request\RabbitMQ\BaseProducer:
		inject: true

extensions:
	console: Contributte\Console\DI\ConsoleExtension(%consoleMode%)
	dbal: Nettrine\DBAL\DI\DbalExtension
	dbal.console: Nettrine\DBAL\DI\DbalConsoleExtension
	orm: Nettrine\ORM\DI\OrmExtension
	orm.annotations: Nettrine\ORM\DI\OrmAnnotationsExtension
	nettrine.annotations: Nettrine\Annotations\DI\AnnotationsExtension
	orm.console: Nettrine\ORM\DI\OrmConsoleExtension
	migrations: Nettrine\Migrations\DI\MigrationsExtension
	orm.cache: Nettrine\Cache\DI\CacheExtension
	monolog: Contributte\Monolog\DI\MonologExtension
	rabbitmq: Gamee\RabbitMQ\DI\RabbitMQExtension

	webpackassets: App\UI\Webpack\DI\WebpackAssetExtension
	custompresenterfactory: App\UI\PresenterFactory\DI\CustomPresenterFactoryExtension

webpackassets:
	buildedAssetsDir: %wwwDir%/build


dbal:
	debug:
		panel: %debugMode%
	connection:
		host: %database.host%
		user: %database.user%
		password: %database.password%
		dbname: %database.dbname%
		driver: 'pdo_mysql'

		types:
			uuid:
				class: Ramsey\Uuid\Doctrine\UuidType
				commented: false

orm.annotations:
	paths:
		- %appDir%

migrations:
    table: doctrine_migrations
    column: version
    directory: %appDir%/../migrations
    namespace: Migrations

console:
    url: http://localhost/public-transport-app/www
    catchExceptions: false
    lazy: false

monolog:
	channel:
		default:
			handlers:
				- Monolog\Handler\RotatingFileHandler(%appDir%/../log/app-log.log, 30)
				- Monolog\Handler\StreamHandler("php://stdout")
			processors:
				- Monolog\Processor\MemoryPeakUsageProcessor()
				- Monolog\Processor\WebProcessor()


services:
	router: App\Router\RouterFactory::createRouter

	latte.latteFactory:
		setup:
			- addFilter(datetimeFormat, [@datetimeformatfilter, format])
			- addFilter(secondsFormat, [@secondsformatFilter, format])
			- addFilter(pragueStopId, [@praguestopidfilter, format])
			- addFilter(vehicleType, [@vehicletypefilter, format])

	#CUSTOM LATTE FILTERS
	datetimeformatfilter: App\UI\Filter\DatetimeFormatFilter
	secondsformatFilter: App\UI\Filter\SecondsFormatFilter

	datetimefactory: App\Utils\DatetimeFactory
	pidservice: Mistrfilda\Pid\Api\PidService(%pid.accessToken%)

	#Forms
	- App\UI\Admin\Base\AdminFormFactory

	#Grids
	- App\UI\Admin\Base\AdminDatagridFactory

	#Modal
	- App\UI\Shared\Modal\ModalRendererControlFactory

	#AppAdmin
	- App\Admin\AppAdminRepository(App\Admin\AppAdmin)
	- App\Admin\AppAdminAuthenticator
	- App\Admin\AppAdminFacade
	- App\Admin\CurrentAppAdminGetter
	- App\Admin\Command\CreateAppAdminCommand

	#Front
	- App\UI\Front\Base\FrontDatagridFactory

	#Login
	- App\UI\Admin\Login\Form\LoginFormFactory

	#### PRAGUE ####

	#STOP
	- App\Transport\Prague\Stop\Import\StopImportCommand
	- App\Transport\Prague\Stop\Import\StopImportFacade
	- App\Transport\Prague\Stop\StopRepository(App\Transport\Prague\Stop\Stop)
	- App\Transport\Prague\Stop\StopFactory
	- App\Transport\Prague\Stop\StopCacheService

	- App\UI\Admin\PragueStop\Datagrid\StopDatagridFactory
	praguestopidfilter: App\Transport\Prague\Stop\Filter\StopIdFilter

	#TRIP
	- App\Transport\Prague\StopLine\Trip\Import\TripImportCommand
	- App\Transport\Prague\StopLine\Trip\Import\TripImportFacade
	- App\Transport\Prague\StopLine\Trip\TripRepository(App\Transport\Prague\StopLine\Trip\Trip)
	- App\Transport\Prague\StopLine\Trip\TripFactory
	- App\Transport\Prague\Statistic\ChartDataProvider\TripStatisticDelayChartDataProvider
	- App\Transport\Prague\Statistic\ChartDataProvider\TripStatisticDataCountChartDataProvider
	- App\Transport\Prague\Statistic\ChartDataProvider\TripStatisticVehicleRegistrationChartDataProvider

	#STOP TIME
	- App\Transport\Prague\StopLine\StopTime\Import\StopTimeImportCommand
	- App\Transport\Prague\StopLine\StopTime\Import\StopTimeImportFacade
	- App\Transport\Prague\StopLine\StopTime\StopTimeFactory
	- App\Transport\Prague\StopLine\StopTime\StopTimeRepository(App\Transport\Prague\StopLine\StopTime\StopTime)
	- App\Transport\Prague\StopLine\StopTime\StopTimeTimeFactory
	- App\Transport\Prague\StopLine\StopLineFactory

	#VEHICLE
	- App\Transport\Prague\Vehicle\Import\VehicleImportCommand
	- App\Transport\Prague\Vehicle\Import\VehicleImportFacade
	- App\Transport\Prague\Vehicle\VehicleFactory
	- App\Transport\Prague\Vehicle\VehiclePositionRepository(App\Transport\Prague\Vehicle\VehiclePosition)
	- App\Transport\Prague\Vehicle\VehicleRepository(App\Transport\Prague\Vehicle\Vehicle)
	- App\Transport\Prague\Vehicle\VehicleMapObjectProvider

	- App\UI\Admin\PragueVehiclePosition\Datagrid\VehicleDatagridFactory
	- App\UI\Admin\PragueVehiclePosition\Datagrid\VehiclePositionDatagridFactory

	vehicletypefilter: App\Transport\Prague\Vehicle\Filter\VehicleTypeFilter

	#DEPARTURE TABLE
	- App\Transport\Prague\DepartureTable\DepartureTableFacade
	- App\Transport\Prague\DepartureTable\DepartureTableRepository(App\Transport\Prague\DepartureTable\DepartureTable)
	- App\Transport\Prague\DepartureTable\DepartureTableStopLinesFactory

	- App\UI\Admin\PragueDepartureTable\Datagrid\DepartureTableDatagridFactory
	- App\UI\Admin\PragueDepartureTable\Form\DepartureTableFormFactory
	- App\UI\Admin\PragueDepartureTable\Control\DepartureTableControlFactory

	#REQUEST
	- App\Request\RequestRepository(App\Request\Request)
	- App\Request\GenerateRequestsCommand
	- App\UI\Admin\Request\Datagrid\RequestDatagridFactory

	#RABITMQ
	- App\Request\RabbitMQ\MessageFactory

	#Statistic
	- App\UI\Shared\Statistic\Control\StatisticControlFactory
	- App\Transport\Prague\Statistic\TripStatisticFacade
	- App\Transport\Prague\Statistic\Command\GenerateTripStatisticCommand
	- App\Transport\Prague\Statistic\TripStatisticDataRepository(App\Transport\Prague\Statistic\TripStatisticData)
	- App\UI\Admin\PragueStatistic\Datagrid\StatisticDatagridFactory
	- App\UI\Shared\Statistic\Modal\TripStatisticModalRendererControlFactory
	- App\UI\Front\Statistic\Control\Trip\TripStatisticControlFactory
	- App\UI\Front\Statistic\Datagrid\Trip\TripStatisticDataDatagridFactory

	- App\UI\Shared\Statistic\Chart\Control\ChartControlFactory

	#Map
	map:
		implement: App\UI\Shared\Map\MapControlFactory
		arguments: [%map.apiToken%]