{block content}
    <div class="row py-2">
        <div class="col-sm-12 d-flex justify-content-center mb-2">
            <div class="bg-white text-center rounded border-primary border text-gray-800">
                <div class="rounded font-weight-bold app-heading px-3">
                    Mapa vozidel
                </div>
            </div>
        </div>
        <div class="col-md-12">
            {control mapControl}
        </div>
    </div>
{/block}