{block content}
    <div class="d-flex justify-content-between">
        <div>
            <h1 class="h3 mb-2 text-gray-800">Stops</h1>
            <p class="mb-4">List of all stops</p>
        </div>
    </div>
    {control stopGrid}
{/block}