{varType App\UI\Shared\PragueDepartureTable\Control\PragueDepartureTableListData[] $departureTableData}
{foreach $departureTableData as $departureTable}
    <div class="col-md-12 my-3">
        <div class="card border-left-primary shadow h-100 py-2">
            <div class="card-body">
                <div class="row no-gutters">
                    <div class="col-md-12 d-flex justify-content-between align-content-center">
                        <div class="font-weight-bold text-gray-800 text-uppercase text-lg">
                            {$departureTable->getDepartureTable()->getPragueStop()->getFormattedName()}
                        </div>
                        <div>
                            <i class="fa fa-bus fa-2x text-primary"></i>
                        </div>
                    </div>

                    <div class="col-md-12">
                        {foreach $departureTable->getLines() as $line}
                            <span class="badge badge-dark">{$line}</span>
                        {/foreach}
                    </div>

                    <div class="col-md-12">
                        <hr>
                    </div>

                    <div class="col-md-12 d-flex justify-content-between">
                        <div>
                            {$departureTable->getDestinations()}
                        </div>
                        <div>
                            <a href="{plink PragueDepartureTable:detail, id => $departureTable->getDepartureTable()->getId()->toString()}"
                               class="btn btn-primary"><i class="fas fa-arrow-right"></i></a>
                        </div>
                    </div>

                </div>

            </div>
        </div>
    </div>
{/foreach}
