{block content}
    <div class="d-flex justify-content-between">
        <div>
            <h1 class="h3 mb-2 text-gray-800">Departure tables</h1>
            <p class="mb-4">Prepared departure tables, which are used and created by app</p>
        </div>

        <div>
            <a n:href="PragueDepartureTableEditForm:edit" class="btn btn-primary">Add new departure table</a>
        </div>
    </div>
    {control departureTableGrid}
{/block}