{block content}
    <div class="d-flex justify-content-between">
        <div>
            <h1 class="h3 mb-2 text-gray-800">Trip statistics</h1>
            <p class="mb-4">All available statistic for lines</p>
        </div>
    </div>
    {control statisticDatagrid}
{/block}