{block content}
    <div class="d-flex justify-content-between">
        <div>
            <h1 class="h3 mb-2 text-gray-800">Last known vehicle positions</h1>
            <p class="mb-4">List of times, when last vehicle positions were downloaded</p>
        </div>
    </div>
    {control vehiclePositionDatagrid}
{/block}