{templateType App\UI\Admin\PragueDepartureTable\Control\DepartureTableControlLayoutTemplate}
<div class="row">
    <div class="col-md-12">
        <div class="card shadow mb-12">
            <div class="card-header p-0">
                <div class="row">
                    <div class="col-xl-12 col-md-12 mb-0">
                        <div class="card border-left-primary border-right-primary shadow h-100 py-2">
                            <div class="card-body">
                                <div class="row">
                                    <div class="col-md-6 col-sm-12 d-flex align-items-md-center justify-content-md-start align-items-center justify-content-center">
                                        <div class="h5 mb-md-0 font-weight-bold text-gray-800">{$departureTable->getStop()->getName()}</div>
                                    </div>
                                    <div class="col-md-6 col-sm-12 text-md-right d-flex align-items-md-center justify-content-md-end align-items-center justify-content-between pl-0 pr-0">
                                        <span class="h5 mb-0 font-weight-bold text-gray-800"
                                              id="departure-table-clock"></span>
                                        {snippet headerButtons}
                                            <a n:if="$currentStep !== 1" data-naja-history="off" n:href="resetPagination!" class="ml-2 btn btn-danger btn-sm ajax">Reset pagination</a>
                                            <a n:href="refresh!" data-naja-history="off" class="ml-2 btn btn-info btn-sm ajax">Refresh</a>
                                        {/snippet}
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="card-body p-0" naja-departure-table-id="{$departureTable->getId()->toString()}"
                 naja-departure-table-url="{link refresh!}">
                {snippet table}
                    <div class="table-responsive">
                        <table class="table table-striped table-dark table-hover mb-0">
                            <thead>
                            <tr>
                                <th scope="col">Linka</th>
                                <th scope="col">Trip id</th>
                                <th scope="col">Cílová stanice</th>
                                <th scope="col">Čas odjezdu</th>
                                <th scope="col">Zpoždění (minut)</th>
                                <th scope="col">Společnost</th>
                                <th scope="col">Vozidlo</th>
                                <th scope="col">Poslední známá poloha</th>
                                <th scope="col">Statistiky</th>
                            </tr>
                            </thead>
                            <tbody>

                            {varType App\Transport\Prague\StopLine\StopLine $stopLine}
                            {foreach $stopLines as $stopLine}
                                {continueIf $stopLine->hasVehicleLeft()}
                                <tr n:class="$stopLine->isNearDeparture() ? departure-table-animation, $stopLine->hasBigDelay() ? 'table-danger text-black'">
                                    <th scope="row">{$stopLine->getLineNumber()}</th>
                                    <td>{$stopLine->getTripId()}</td>
                                    <td>{$stopLine->getFinalDestination()}</td>
                                    <td>{$stopLine->getDepartureTime()|datetimeFormat}</td>
                                    {if $stopLine->hasVehicle()}
                                        <td>{$stopLine->getVehicle()->getDelayInSeconds()|secondsFormat}</td>
                                        <td>{$stopLine->getVehicle()->getCompany()}</td>
                                        <td> <i class="{$stopLine->getVehicle()->getVehicleType()|vehicleType}"></i> {$stopLine->getVehicle()->getRegistrationNumber()}</td>
                                        <td>{$stopLine->getVehicle()->getLastStopId()|pragueStopId}</td>
                                    {else}
                                        <td>----</td>
                                        <td>----</td>
                                        <td>----</td>
                                        <td>----</td>
                                    {/if}
                                    <td>
                                        {if $stopLine->hasStatistics()}
                                        <a n:href="tripIdStatistics, tripId => $stopLine->getTripId()" class="btn btn-primary ajax" data-naja-history="off"><i class="fas fa-arrow-right"></i></a>
                                        <a href="{plink :Front:Statistic:trip, $stopLine->getTripId()}" class="btn btn-success"><i class="fas fa-arrow-right"></i></a>
                                        {else}
                                            ----
                                        {/if}
                                    </td>
                                </tr>
                            {/foreach}
                        </table>
                    </div>
                {/snippet}
            </div>

            <div class="row">
                <div class="col-xl-12 col-md-12 mb-0">
                    <div class="card border-left-primary border-right-primary shadow h-100 py-2">
                        <div class="card-body">
                            <div class="row">
                                <div class="col-md-12 col-sm-12 text-right d-flex align-items-center justify-content-end pl-0 pr-0">
                                        <span class="h5 mb-0 font-weight-bold text-gray-800"
                                              id="departure-table-clock"></span>
                                    {snippet footerButtons}
                                        <a n:if="$currentStep !== 1" data-naja-history="off" data-naja-history-nocache n:href="resetPagination!" class="ml-2 btn btn-danger btn-sm ajax">Reset pagination</a>
                                        <a n:if="$showLoadMoreButton" data-naja-history="off" n:href="loadMore!" data-naja-history-nocache class="ml-2 btn btn-primary btn-sm ajax">Load more</a>
                                    {/snippet}
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div n:snippet="modalComponentSnippet" data-naja-history-nocache>
    {if $renderModal}
        {control tripStatisticModalControl}
    {/if}
</div>